body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: relative;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.logout-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #ff4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11pt;  
  text-decoration: none;
}

.logout-button:hover {
  background-color: #ff0000;
}

.page-title {
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  gap: 15px
}

.navbar a {
  display: block;
  padding: 8px 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  padding: 20px;
}


/* Filtering Recipes */

.filter-btn-container {
  justify-content: center;
  display: flex;
  gap: 5px;
}

.filter-btn {
  border: none;
  color: rgb(39, 39, 39);
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.filter-btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.filter-btn.active-filter {
  background-color: #666;
  color: white;
}


/* Recipe Grid */

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Recipe Cards */

.recipe-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.stocked-false {
  border: 2px solid darkred;
}

.recipe-hide {
  display: none;
}

.recipe-image-container {
  width: 30%;
  height: 0;
  padding-top: 40%; /* Aspect ratio: 4/3 */
  position: relative;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.recipe-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.favorite {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(57, 57, 57, 0.2); /* Semi-transparent background */
  padding: 2px 8px;
  border-radius: 12px;
}

.fas, .far {
  color: rgb(212, 13, 13);
  font-size: 1.2em;
  margin-right: 5px;
  margin-left: 8px;
}

.favs-count {
  font-size: 1em;
  color: #333;
}



.recipe-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.recipe-title {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.recipe-ingredients {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
}

.recipe-ingredients li {
  margin-bottom: 2px;
  font-size: 11pt;
}

.recipe-directions, .recipe-garnish, .recipe-description {
  margin: 5px 0;
  font-size: .9em;
  color: #666;
}

.recipe-description {
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 0px;
}

.recipe-missing-ingredients {
  margin: 5px 0;
  font-size: 1em;
  color: darkred; 
}

.recipe-stocked {
  margin: 5px 0;
  font-size: 1em;
  color: green; 
}

/* GPT Page Styling */
.generate-cocktail-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.recipe-card-gpt {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 500px;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.gpt-intro-text {
  text-align: center;
  margin-bottom: 20px; /* Optional: Adjust spacing between text and card */
}

.generate-form {
  text-align: center;
  margin-bottom: 20px; /* Optional: Adjust spacing between form and card */
}

.generate-form label {
  display: block;
  margin-bottom: 5px;
}

.generate-form input[type="text"] {
  width: 300px; /* Adjust width as needed */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}
.generate-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.generate-form button:hover {
  background-color: #0056b3;
}


/* Ingredient Stock Styling */

.ingredient-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.ingredient {
  margin-bottom: 15px;
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="text"] {
  flex: 1; /* Take remaining space */
  margin-left: 10px; /* Add spacing between checkbox and text field */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  margin-top: 15px; /* Add space between ingredients and button */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


select {
  width: 180px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12pt
}








/* Media query for smaller screens */
@media (max-width: 600px) {
  .header {
      padding: 20px 10px;
  }
  
  .logout-button {
      top: 10px;
      left: 10px;
      transform: none;
      padding: 5px 10px;
      font-size: 0.9em;
  }

  .page-title {
      margin-top: 25px; /* Increase top margin for smaller screens */
      font-size: 1.5em;
  }
  .recipes-grid {
    grid-template-columns: 1fr; /* Resize recipe card to single grid in small view */
  }
  .recipe-card {
    flex-direction: column;
    text-align: center;
  }

  .recipe-card-gpt {
    flex-direction: column;
    text-align: center;
  }


  .recipe-image-container {
    width: 60%;
    padding-top: 60%; /* Aspect ratio: 1/1 for square images */
    margin: 0 auto 20px auto; /* Center the image container and add margin */
    display: flex;
    justify-content: center; /* Center the image horizontally */
  }

  .favorite {
    bottom: +10px;
  }

  .recipe-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .recipe-info {
      align-items: center;
      padding-left: 10%;
      padding-right: 10%;
  }
}



