{% extends "base.html" %}

{% block content %}
    <hr>

    <header>
        <h2>{{ user.username }}'s Recipe Book</h2>
    </header>
        {% include 'sub_navigation.html' %}

    <hr>

    <div class="recipes-grid">
        {% for cocktail, details in recipes.items() %}
            <div class="recipe-card {% if not details.stocked %}stocked-false{% endif %}">  
                <div class="recipe-image">
                    <img src="{{ url_for('static', filename='images/'+details.image) }}" alt="{{ cocktail }}" class = "recipe-image">
                </div>
                <div class="recipe-info">
                <p class="recipe_name">{{ cocktail }}</p>
                {% for item in details.ratios %}
                <p class="recipe_ingredients">{{item}}</p>
                {% endfor %}

                <p class="recipe_directions">Directions: {{ details.directions|safe }}</p>   
                <p class="garnish">Garnish: {{ details.garnish }}</p>
                {% if not details.stocked %}
                    <p class="recipe-missing"> Missing: </p>
                    {% for item in details.missing %}
                    <p class="recipe-missing">- {{item}} </p>
                    {% endfor %} 
                {% else %}
                    <p class="recipe-stocked">Recipe is stocked</p>
                {% endif %}
                </div>
      
          </div>
        {% endfor %}
    </div>
        
    
{% endblock %}

