{% extends "base.html" %}

{% block content %}
<div class="header">
    <a href="/" class="logout-button">Logout</a>
    <h1 class="page-title">{{ user.username }}'s Recipe Book</h1>
</div>

        {% include 'sub_navigation.html' %}

    <div class="recipes-grid">
        {% for cocktail, details in recipes.items() %}
            <div class="recipe-card {% if not details.stocked %}stocked-false{% endif %}">  
                <div class="recipe-image-container">
                    <img src="{{ url_for('static', filename='images/'+details.image) }}" alt="{{ cocktail }}" class = "recipe-image">
                </div>
                <div class="recipe-info">
                    <h2 class="recipe-title">{{ cocktail }}</h2>
                    <ul class="recipe-ingredients">
                        {% for item in details.ratios %}
                        <li class="recipe-ingredients">{{item}}</li>
                        {% endfor %}
                    </ul>
                    

                    <p class="recipe-directions">{{ details.directions|safe }}</p>   
                    <p class="recipe-garnish">Garnish: {{ details.garnish }}</p>
                {% if not details.stocked %}
                    <p class="recipe-missing-ingredients">Missing: {{details.missing}} </p>
                {% else %}
                    <p class="recipe-stocked">Recipe is stocked</p>
                {% endif %}
                </div>
      
          </div>
        {% endfor %}
    </div>
        
    
{% endblock %}

