{% extends "base.html" %}

{% block content %}
    <hr>

    <header><h2>{{ user.username }}'s Stocked Recipes</h2></header>

        {% include 'sub_navigation.html' %}

    <hr>

    <div class="recipes-grid">
        {% for cocktail, details in recipes.items() %}
            {% if  details.stocked %}
            <div class="recipe-card">  
                <div class="recipe-image">
                        <img src="{{ url_for('static', filename='images/'+details.image) }}" alt="{{ cocktail }}" class = "recipe-image">
                    </div>
                <div class="recipe-info">
                <p class="recipe_name">{{ cocktail }}</p>
                {% for item in details.ratios %}
                <p class="recipe_ingredients">{{item}}</p>
                {% endfor %}

                <p class="recipe_directions">Directions: {{ details.directions|safe }}</p>   
                <p class="garnish">Garnish: {{ details.garnish }}</p>
                
                </div>
      
          </div>
            {% endif %}
        {% endfor %}
    </div>
        
    
{% endblock %}