{% extends "base.html" %}

{% block content %}
    <hr>

    <h2>{{ user.username }}'s Liquor Cabinet</h2>
    <form action="" method="post">
        <fieldset>
        <legend>Edit Stock:</legend>
    
        {% for ingredient, result in stock.items() %}
        <div>
          
          {% if result.stocked %} 
          <input type="checkbox" id="{{ingredient}}" name="{{ingredient}}" checked/>
          <label for="{{ingredient}}">{{ingredient}}</label>
          {% else %}
          <input type="checkbox" id="{{ingredient}}" name="{{ingredient}}"/>
          <label for="{{ingredient}}">{{ingredient}}</label>
          {% endif %}

          {% if result.notes == '' %}
          <input type="text" id="{{ingredient}}.notes" name="{{ingredient}}.notes" placeholder="Details/brands/notes" maxlength='50' size="35">
          {% else %}
          <input type="text" id="{{ingredient}}.notes" name="{{ingredient}}.notes" value="{{result.notes}}" maxlength='50' size="35">
          {% endif %}

        </div>
      
        {% endfor %}
        <button class="button execute" name="submit" value="submit">Submit</button>
      </fieldset>
        
    </form>    
    
    
    
{% endblock %}