{% extends "base.html" %}

{% block content %}

<div class="header">
    <a href="/" class="logout-button">Logout</a>
    <h1 class="page-title">{{ user.username }}'s Liquor Cabinet</h1>
</div>
        {% include 'sub_navigation.html' %}

<div class="ingredient-container">
    <form action="" method="post">
        <fieldset>
        <legend>Edit Stock:</legend>
    
        {% for ingredient, result in stock.items() %}
        <div class="ingredient">
          
          {% if result.stocked %} 
          <input type="checkbox" id="{{ingredient}}" name="{{ingredient|safe}}" checked/>
          <label for="{{ingredient}}">{{ingredient}}</label>
          {% else %}
          <input type="checkbox" id="{{ingredient}}" name="{{ingredient|safe}}"/>
          <label for="{{ingredient}}">{{ingredient}}</label>
          {% endif %}

          {% if result.notes == '' %}
          <input type="text" id="{{ingredient}}.notes" name="{{ingredient|safe}}.notes" placeholder="Details/brands/notes" maxlength='50' size="35">
          {% else %}
          <input type="text" id="{{ingredient}}.notes" name="{{ingredient|safe}}.notes" value="{{result.notes|safe}}" maxlength='50' size="35">
          {% endif %}

        </div>
      
        {% endfor %}
        <button class="ingredient-button" name="submit" value="submit">Submit</button>
      </fieldset>
        
    </form>    
</div>
    
    
    
{% endblock %}