{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Add Recipe{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <form method="post">
    <div class="form-group">
        <label for="recipe_name">Cocktail Name</label>
        <input type="text" name="recipe_name" id="recipe_name" value="{{ request.form['recipe_name'] }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="recipe_ingredients">Ingredients</label>
        <textarea name="recipe_ingredients" id="recipe_ingredients" class="form-control">{{ request.form['recipe_ingredients'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="recipe_directions">Directions</label>
        <textarea name="recipe_directions" id="recipe_directions" class="form-control">{{ request.form['recipe_directions'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="garnish">Garnish</label>
        <textarea name="garnish" id="garnish" class="form-control">{{ request.form['garnish'] }}</textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Recipe" class="submit-btn">
    </div>
</form>
{% endblock content %}