{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Recipes{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div class="recipes-grid">
  {% for recipe in recipes %}
    <div class="recipe-card">
      <div class="recipe-image">
        <img src="{{ url_for('static', filename='images/'+recipe.image_name) }}" alt="{{ recipe.recipe_name }}">
      </div>


      <div class="recipe-info">
      <p class="recipe_name">{{ recipe["recipe_name"] }}</p>
      <p class="recipe_ingredients">{{ recipe["recipe_ingredients"]|safe }}</p>
      <p class="recipe_directions">Directions: {{ recipe["recipe_directions"]|safe }}</p>   
      <p class="garnish">Garnish: {{ recipe["garnish"] }}</p>          
      </div>

    </div>
  {% endfor %}
</div>
{% endblock content %}